[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
Wants=modprobe@uinput.service
After=modprobe@uinput.service

[Service]
Type=simple
# User=kanata
ExecPreStart=/bin/sleep 30
ExecStart=/home/linuxbrew/.linuxbrew/bin/kanata --cfg /home/juanod/.dotfiles/.config/kanata/config.kbd
Restart=always

[Install]
WantedBy=default.target
