[user]
	email = 3674588+JuanoD@users.noreply.github.com
	name = Juan Díaz
[core]
	autocrlf = input
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = default-mergetool
[mergetool "default-mergetool"]
  cmd = code --wait $MERGED
[include]
  path = ~/.gitconfig-os
[includeIf "gitdir:**/quick/"]
	path = ~/.gitconfig-quick
[alias]
	slog = !git log --graph --pretty=format:'%C(auto)%h  %s %C(blue)%an, %C(green)(%cs)%Creset%C(auto)%d%Creset' "$@"
	osreset = reset @{u}
	oreset = !git fetch -p && git reset --hard @{u}
	orebase = rebase "@{u}"
	smerge = !git fetch -p && git merge $1 && git reset @{u} && :
[push]
	autoSetupRemote = true
