[Unit]
Description = Mount my gdrive sync using rclone

[Service]

StandardOutput = journal

ExecStart = rclone mount db: %h/Documents/.syncs/drive -v

[Install]
WantedBy = default.target
